.carsList {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
  object-fit: auto;
  margin-top: 208px;
}
.carsItems {
  box-sizing: border-box;
  width: 276px;
  height: 424px;
}
